* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(#ffb6c1, #f3aac8);
  font-family: Arial, sans-serif;
}

.container {
  text-align: center;
}

.ask {
  font-size: 36px;
  font-weight: bold;
  color: white;
  margin-bottom: 20px;
}

.wrapper img {
  width: 220px;
  max-width: 80%;
  margin-bottom: 20px;
}

.buttons {
  position: relative;
  height: 100px;
}

.btn {
  background-color: #ff69b4;
  color: white;
  padding: 14px 30px;
  border: none;
  border-radius: 12px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.2s;
}

#yesButton {
  margin-right: 120px;
}

#noButton {
  position: absolute;
  left: 50%;
  transform: translateX(60px); /* biar sejajar kanan YES */
}